# Building the database

To create useful insights of translink data, we first need to amass the data over a longer period of time in a Database. To do this we used DuckDB because it integrates easily with markdown, and has a quick method to import json files.

In [1]:
# Required libraries for building the database
%pip install duckdb 
%pip install requests
%pip install PyYAML
%pip install gtfs-realtime-bindings
%pip install numpy
%pip install pandas

Requirement already satisfied: duckdb in /Users/adriancrusius/Documents/CMPT353 Translink data analysis/.venv/lib/python3.12/site-packages (1.1.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: requests in /Users/adriancrusius/Documents/CMPT353 Translink data analysis/.venv/lib/python3.12/site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/adriancrusius/Documents/CMPT353 Translink data analysis/.venv/lib/python3.12/site-packages (from requests) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/adriancrusius/Documents/CMPT353 Translink data analysis/.venv/lib/python3.12/site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/adriancrusius/Documents/CMPT353 Translink data analysis/.venv/lib/python3.12/site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/adriancrusius/Documents/CMPT353 Translink data analysis/.venv/lib/python3.12/site-packages (from requests) (2024.8.30)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: PyYAML in /Users/adriancrusius/Documents/CMPT353 Translink data analysis/.venv/lib/python3.12/site-packages (6.0.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: gtfs-realtime-bindings in /Users/adriancrusius/Documents/CMPT353 Translink data analysis/.venv/lib/python3.12/site-packages (1.0.0)
Requirement already satisfied: setuptools in /Users/adriancrusius/Documents/CMPT353 Translink data analysis/.venv/lib/python3.12/site-packages (from gtfs-realtime-bindings) (75.5.0)
Requirement already satisfied: protobuf in /Users/adriancrusius/Documents/CMPT353 Translink data analysis/.venv/lib/python3.12/site-packages (from gtfs-realtime-bindings) (5.28.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in /Users/adriancrusius/Documents/CMPT353 Translink data analysis/.venv/lib/python3.12/site-packages (2.1.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in /Users/adriancrusius/Documents/CMPT353 Translink data analysis/.venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Users/adriancrusius/Documents/CMPT353 Translink data analysis/.venv/lib/python3.12/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/adriancrusius/Documents/CMPT353 Translink data analysis/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/adriancrusius/Documents/CMPT353 Translink data analysis/.venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/adriancrusius/Documents/CMPT353 Translink data analysis/.venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/adriancrusius/Documents/CMPT353 Translink data analysis/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:

from enum import Enum
import requests, yaml, time, os
import numpy as np
import pandas as pd
from google.transit import gtfs_realtime_pb2
from datetime import datetime
import duckdb
import fsspec

General Transit Feed Specification

To access the gtfs feed, we need to grab it from translink's active  API. To ensure our API keys arent uploaded to the server, we used a .yaml file containing all our api keys.

In [4]:
Provider = 'Translink' # use to change data provider

#create full url from auth.yaml
with open('../.config/my_api_keys/auth.yaml', 'r') as file:
    auth = yaml.load(file,Loader=yaml.SafeLoader)

url = auth[Provider]['position_link'] + auth[Provider]['api_key0']

#create gtfs feed
gtfs_feed = gtfs_realtime_pb2.FeedMessage()

response = requests.get(url)

status_failure_flag = 0 # if response shows 4 failures in a row, exit

if response.status_code == 200:
    gtfs_feed.ParseFromString(response.content)

print(gtfs_feed.entity[0])

id: "14121598"
vehicle {
  trip {
    trip_id: "14121598"
    start_date: "20241129"
    schedule_relationship: SCHEDULED
    route_id: "30055"
    direction_id: 0
  }
  position {
    latitude: 49.2864151
    longitude: -123.140434
  }
  current_stop_sequence: 1
  current_status: IN_TRANSIT_TO
  timestamp: 1732925086
  stop_id: "1"
  vehicle {
    id: "19514"
    label: "19514"
  }
}

Now that we have a GTFS feed, how can we meaningfully and easily store it in an array? First, lets try storing the whole gtfs_feed object using `duckdb.read_json()` since GTFS feeds are essentially large Json files

In [10]:
#duckdb.read_json(gtfs_feed.entity)

It looks like duckdb doesn't know how to interpret the whole gtfs feed. instead, lets see if it can import a single entity.

In [11]:
#duckdb.read_json(gtfs_feed.entity[0])

Well, it was worth a shot. Instead, lets manually loop through the gtfs data and create a database with entries for the following in each trip:
| trip_id | ... |
| ----------- | --- |
| start_date | ... |
| schedule_relationship | ... |
| route_id | ... |
| direction_id | ... |
| latitude | ... |
| longitude | ... |
| current_stop_sequence | ... |
| current_status | ... |
| timestamp | ... |
| stop_id | ... |
| vehicle_id | ... |
| vehicle_label | ... |

In [ ]:
test_db = duckdb.connect('test.db')

#create the Enum values for schedule_relationship and current_status
test_db.sql('''CREATE TABLE IF NOT EXISTS rt_position
            (trip_id VARCHAR,
            start_date DATE,
            schedule_relationship INTEGER,
            route_id VARCHAR,
            direction_id VARCHAR,
            latitude FLOAT,
            longitude FLOAT,
            current_stop_sequence VARCHAR,
            current_status VARCHAR,
            timestamp TIMESTAMP,
            stop_id VARCHAR,
            vehicle_id VARCHAR,
            vehicle_label VARCHAR,
            PRIMARY KEY (trip_id, vehicle_id, timestamp))
            ''')

Now that the database is created, Lets make a function to collect all elements from `gtfs_feed.entity` and insert them into our new database

In [2]:
Provider = 'Translink' # use to change data provider

#create full url from auth.yaml
with open('../.config/my_api_keys/auth.yaml', 'r') as file:
    auth = yaml.load(file,Loader=yaml.SafeLoader)

url = auth[Provider]['position_link'] + auth[Provider]['api_key0']

#create gtfs feed
gtfs_feed = gtfs_realtime_pb2.FeedMessage()

response = requests.get(url)

status_failure_flag = 0 # if response shows 4 failures in a row, exit

if response.status_code == 200:
    gtfs_feed.ParseFromString(response.content)

current_pos_df = pd.DataFrame()

for entity in gtfs_feed.entity:
    vehicle = entity.vehicle
    trip_to_append = pd.DataFrame(data = [[vehicle.trip.trip_id,
                                           pd.to_datetime(vehicle.trip.start_date, format='%Y%m%d').date(),  #convert YYYYMMDD to YYYY-MM-DD                                         
                                           vehicle.trip.schedule_relationship,
                                           vehicle.trip.route_id,
                                           vehicle.trip.direction_id,
                                           vehicle.position.latitude,
                                           vehicle.position.longitude,
                                           vehicle.current_stop_sequence,
                                           vehicle.current_status,
                                           pd.to_datetime(vehicle.timestamp, unit='s'), #convert to unix timestamp
                                           vehicle.stop_id,
                                           vehicle.vehicle.id,
                                           vehicle.vehicle.label,
                                           ]],
                                  columns=['trip_id',
                                           'start_date',
                                           'schedule_relationship',
                                           'route_id',
                                           'direction_id',
                                           'latitude',
                                           'longitude',
                                           'current_stop_sequence',
                                           'current_status',
                                           'timestamp', 
                                           'stop_id',
                                           'vehicle_id',
                                           'vehicle_label'])

    current_pos_df = pd.concat([current_pos_df,trip_to_append])
test_db.sql('INSERT INTO rt_position SELECT * FROM current_pos_df ON CONFLICT DO NOTHING')

NameError: name 'yaml' is not defined

Now that we have some data in our database, lets check if we get expected output from our data.

In [ ]:
test_db.sql('SELECT * FROM rt_position').show()

┌──────────┬────────────┬───────────────────────┬──────────┬──────────────┬───────────┬─────────────┬───────────────────────┬────────────────┬─────────────────────┬─────────┬────────────┬───────────────┐
│ trip_id  │ start_date │ schedule_relationship │ route_id │ direction_id │ latitude  │  longitude  │ current_stop_sequence │ current_status │      timestamp      │ stop_id │ vehicle_id │ vehicle_label │
│ varchar  │    date    │         int32         │ varchar  │   varchar    │   float   │    float    │        varchar        │    varchar     │      timestamp      │ varchar │  varchar   │    varchar    │
├──────────┼────────────┼───────────────────────┼──────────┼──────────────┼───────────┼─────────────┼───────────────────────┼────────────────┼─────────────────────┼─────────┼────────────┼───────────────┤
│ 14121585 │ 2024-11-26 │                     0 │ 30055    │ 0            │ 49.287216 │  -123.14162 │ 1                     │ 2              │ 2024-11-26 21:59:17 │ 1       │ 19529      │ 19529         │
│ 14121586 │ 2024-11-26 │                     0 │ 30055    │ 0            │ 49.286633 │  -123.14063 │ 1                     │ 2              │ 2024-11-26 21:58:38 │ 1       │ 19524      │ 19524         │
│ 14121587 │ 2024-11-26 │                     0 │ 30055    │ 0            │ 49.286434 │  -123.14038 │ 1                     │ 2              │ 2024-11-26 21:59:24 │ 1       │ 19542      │ 19542         │
│ 14009938 │ 2024-11-26 │                     0 │ 6635     │ 0            │ 49.284866 │  -123.12025 │ 13                    │ 2              │ 2024-11-26 21:59:22 │ 31      │ 18348      │ 18348         │
│ 14000901 │ 2024-11-26 │                     0 │ 6618     │ 0            │   49.2849 │  -123.11127 │ 1                     │ 2              │ 2024-11-26 21:59:36 │ 35      │ 2530       │ 2530          │
│ 13999902 │ 2024-11-26 │                     0 │ 6616     │ 1            │  49.28555 │  -123.13921 │ 14                    │ 2              │ 2024-11-26 21:59:11 │ 53      │ 2150       │ 2150          │
│ 13997591 │ 2024-11-26 │                     0 │ 6612     │ 0            │ 49.278984 │ -123.129265 │ 25                    │ 2              │ 2024-11-26 21:59:23 │ 75      │ 8152       │ 8152          │
│ 14004494 │ 2024-11-26 │                     0 │ 6624     │ 0            │    49.284 │  -123.11311 │ 12                    │ 2              │ 2024-11-26 21:59:39 │ 78      │ 2123       │ 2123          │
│ 13999916 │ 2024-11-26 │                     0 │ 6616     │ 1            │ 49.281017 │ -123.110916 │ 1                     │ 2              │ 2024-11-26 21:59:11 │ 81      │ 2195       │ 2195          │
│ 13999938 │ 2024-11-26 │                     0 │ 6616     │ 1            │   49.2804 │  -123.11163 │ 1                     │ 2              │ 2024-11-26 21:59:07 │ 81      │ 2274       │ 2274          │
│    ·     │     ·      │                     · │  ·       │ ·            │      ·    │       ·     │ ·                     │ ·              │          ·          │ ·       │  ·         │  ·            │
│    ·     │     ·      │                     · │  ·       │ ·            │      ·    │       ·     │ ·                     │ ·              │          ·          │ ·       │  ·         │  ·            │
│    ·     │     ·      │                     · │  ·       │ ·            │      ·    │       ·     │ ·                     │ ·              │          ·          │ ·       │  ·         │  ·            │
│ 14039055 │ 2024-11-27 │                     0 │ 31819    │ 1            │ 49.033916 │  -122.77914 │ 19                    │ 2              │ 2024-11-28 05:41:19 │ 12413   │ 24608      │ 24608         │
│ 14048740 │ 2024-11-27 │                     0 │ 6799     │ 1            │ 49.216682 │  -122.59898 │ 1                     │ 2              │ 2024-11-28 05:41:12 │ 12655   │ 21539      │ 21539         │
│ 14040879 │ 2024-11-27 │                     0 │ 6723     │ 1            │   49.1678 │  -123.13603 │ 1                     │ 2              │ 2024-11-28 05:41:05 │ 12716   │ 9675       │ 9675          │
│ 14121636 │ 2024-11-27 │                     0 │ 30055    │ 0            │ 49.284218 │  -123.14265 │ 2                     │ 2              │ 2024-11-28 05:41:17 │ 12767   │ 19506      │ 19506         │
│ 14003677 │ 2024-11-27 │                     0 │ 6622     │ 1            │ 49.229668 │  -123.15585 │ 65                    │ 2              │ 2024-11-28 05:41:21 │ 12787   │ 2275       │ 2275          │
│ 14002511 │ 2024-11-27 │                     0 │ 16718    │ 0            │   49.2681 │  -123.15467 │ 27                    │ 2              │ 2024-11-28 05:41:17 │ 12813   │ 2240       │ 2240          │
│ 14317086 │ 2024-11-27 │                     0 │ 6617     │ 0            │  49.26808 │  -123.15448 │ 23                    │ 2              │ 2024-11-28 05:41:17 │ 12813   │ 2153       │ 2153          │
│ 14058053 │ 2024-11-27 │                     0 │ 37807    │ 1            │ 49.281082 │  -123.00408 │ 7                     │ 2              │ 2024-11-28 05:41:17 │ 12826   │ 22015      │ 22015         │
│ 14007262 │ 2024-11-27 │                     0 │ 6627     │ 0            │ 49.264484 │  -123.00463 │ 63                    │ 2              │ 2024-11-28 05:41:09 │ 12840   │ 21023      │ 21023         │
│ 14056167 │ 2024-11-27 │                     0 │ 38311    │ 1            │   49.3051 │  -123.02922 │ 1                     │ 2              │ 2024-11-28 05:41:08 │ 12950   │ 19031      │ 19031         │
├──────────┴────────────┴───────────────────────┴──────────┴──────────────┴───────────┴─────────────┴───────────────────────┴────────────────┴─────────────────────┴─────────┴────────────┴───────────────┤
│ 2467 rows (20 shown)                                                                                                                                                                         13 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
test_db.sql('SELECT * FROM rt_position WHERE current_status != 2').show()

┌─────────┬────────────┬───────────────────────┬──────────┬──────────────┬──────────┬───────────┬───────────────────────┬────────────────┬───────────┬─────────┬────────────┬───────────────┐
│ trip_id │ start_date │ schedule_relationship │ route_id │ direction_id │ latitude │ longitude │ current_stop_sequence │ current_status │ timestamp │ stop_id │ vehicle_id │ vehicle_label │
│ varchar │    date    │         int32         │ varchar  │   varchar    │  float   │   float   │        varchar        │    varchar     │ timestamp │ varchar │  varchar   │    varchar    │
├─────────┴────────────┴───────────────────────┴──────────┴──────────────┴──────────┴───────────┴───────────────────────┴────────────────┴───────────┴─────────┴────────────┴───────────────┤
│                                                                                          0 rows                                                                                           │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
test_db.sql('SELECT * FROM rt_position WHERE schedule_relationship != 0').show()

┌─────────┬────────────┬───────────────────────┬──────────┬──────────────┬──────────┬───────────┬───────────────────────┬────────────────┬───────────┬─────────┬────────────┬───────────────┐
│ trip_id │ start_date │ schedule_relationship │ route_id │ direction_id │ latitude │ longitude │ current_stop_sequence │ current_status │ timestamp │ stop_id │ vehicle_id │ vehicle_label │
│ varchar │    date    │         int32         │ varchar  │   varchar    │  float   │   float   │        varchar        │    varchar     │ timestamp │ varchar │  varchar   │    varchar    │
├─────────┴────────────┴───────────────────────┴──────────┴──────────────┴──────────┴───────────┴───────────────────────┴────────────────┴───────────┴─────────┴────────────┴───────────────┤
│                                                                                          0 rows                                                                                           │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

We now have a database, but we still have two more realtime and two static tables to add. Next, lets add our Trip update data

In [ ]:
url = auth[Provider]['trip_link'] + auth[Provider]['api_key0']

#create gtfs feed
gtfs_feed = gtfs_realtime_pb2.FeedMessage()

response = requests.get(url)

status_failure_flag = 0 # if response shows 4 failures in a row, exit

if response.status_code == 200:
    gtfs_feed.ParseFromString(response.content)

print(gtfs_feed.entity[28])

id: "13998760"
is_deleted: false
trip_update {
  trip {
    trip_id: "13998760"
    start_date: "20241129"
    schedule_relationship: SCHEDULED
    route_id: "6614"
    direction_id: 1
  }
  stop_time_update {
    stop_sequence: 6
    arrival {
      delay: 623
      time: 1732925231
    }
    departure {
      delay: 623
      time: 1732925231
    }
    stop_id: "497"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 7
    arrival {
      delay: 631
      time: 1732925286
    }
    departure {
      delay: 631
      time: 1732925286
    }
    stop_id: "498"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 8
    arrival {
      delay: 622
      time: 1732925331
    }
    departure {
      delay: 622
      time: 1732925331
    }
    stop_id: "499"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 9
    arrival {
      delay: 633
      time: 1732925388
    }
    departure {
      delay: 633
      time: 1732925388
    }
    stop_id: "500"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 10
    arrival {
      delay: 617
      time: 1732925460
    }
    departure {
      delay: 617
      time: 1732925460
    }
    stop_id: "512"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 11
    arrival {
      delay: 575
      time: 1732925517
    }
    departure {
      delay: 575
      time: 1732925517
    }
    stop_id: "12071"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 12
    arrival {
      delay: 519
      time: 1732925551
    }
    departure {
      delay: 519
      time: 1732925551
    }
    stop_id: "516"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 13
    arrival {
      delay: 468
      time: 1732925602
    }
    departure {
      delay: 468
      time: 1732925602
    }
    stop_id: "517"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 14
    arrival {
      delay: 473
      time: 1732925649
    }
    departure {
      delay: 473
      time: 1732925649
    }
    stop_id: "518"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 15
    arrival {
      delay: 464
      time: 1732925705
    }
    departure {
      delay: 464
      time: 1732925705
    }
    stop_id: "519"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 16
    arrival {
      delay: 504
      time: 1732925821
    }
    departure {
      delay: 504
      time: 1732925821
    }
    stop_id: "520"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 17
    arrival {
      delay: 515
      time: 1732925869
    }
    departure {
      delay: 515
      time: 1732925869
    }
    stop_id: "10976"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 18
    arrival {
      delay: 593
      time: 1732925995
    }
    departure {
      delay: 593
      time: 1732925995
    }
    stop_id: "231"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 19
    arrival {
      delay: 625
      time: 1732926055
    }
    departure {
      delay: 625
      time: 1732926055
    }
    stop_id: "696"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 20
    arrival {
      delay: 645
      time: 1732926151
    }
    departure {
      delay: 645
      time: 1732926151
    }
    stop_id: "91"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 21
    arrival {
      delay: 671
      time: 1732926234
    }
    departure {
      delay: 671
      time: 1732926234
    }
    stop_id: "93"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 22
    arrival {
      delay: 689
      time: 1732926329
    }
    departure {
      delay: 689
      time: 1732926329
    }
    stop_id: "11638"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 23
    arrival {
      delay: 712
      time: 1732926418
    }
    departure {
      delay: 712
      time: 1732926418
    }
    stop_id: "95"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 24
    arrival {
      delay: 773
      time: 1732926556
    }
    departure {
      delay: 773
      time: 1732926556
    }
    stop_id: "11526"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 25
    arrival {
      delay: 797
      time: 1732926646
    }
    departure {
      delay: 797
      time: 1732926646
    }
    stop_id: "11524"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 26
    arrival {
      delay: 814
      time: 1732926709
    }
    departure {
      delay: 814
      time: 1732926709
    }
    stop_id: "11522"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 27
    arrival {
      delay: 827
      time: 1732926862
    }
    departure {
      delay: 827
      time: 1732926862
    }
    stop_id: "11474"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 28
    arrival {
      delay: 841
      time: 1732926979
    }
    departure {
      delay: 841
      time: 1732926979
    }
    stop_id: "11427"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 29
    arrival {
      delay: 625
      time: 1732927225
    }
    departure {
      delay: 625
      time: 1732927225
    }
    stop_id: "542"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 30
    arrival {
      delay: 660
      time: 1732927340
    }
    departure {
      delay: 660
      time: 1732927340
    }
    stop_id: "584"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 31
    arrival {
      delay: 687
      time: 1732927461
    }
    departure {
      delay: 687
      time: 1732927461
    }
    stop_id: "585"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 32
    arrival {
      delay: 671
      time: 1732927543
    }
    departure {
      delay: 671
      time: 1732927543
    }
    stop_id: "586"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 33
    arrival {
      delay: 680
      time: 1732927653
    }
    departure {
      delay: 680
      time: 1732927653
    }
    stop_id: "12815"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 34
    arrival {
      delay: 653
      time: 1732927723
    }
    departure {
      delay: 653
      time: 1732927723
    }
    stop_id: "589"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 35
    arrival {
      delay: 607
      time: 1732927776
    }
    departure {
      delay: 607
      time: 1732927776
    }
    stop_id: "590"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 36
    arrival {
      delay: 617
      time: 1732927833
    }
    departure {
      delay: 617
      time: 1732927833
    }
    stop_id: "12869"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 37
    arrival {
      delay: 553
      time: 1732927915
    }
    departure {
      delay: 553
      time: 1732927915
    }
    stop_id: "593"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 38
    arrival {
      delay: 523
      time: 1732927966
    }
    departure {
      delay: 523
      time: 1732927966
    }
    stop_id: "594"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 39
    arrival {
      delay: 491
      time: 1732928018
    }
    departure {
      delay: 491
      time: 1732928018
    }
    stop_id: "11046"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 40
    arrival {
      delay: 486
      time: 1732928106
    }
    departure {
      delay: 486
      time: 1732928106
    }
    stop_id: "596"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 41
    arrival {
      delay: 477
      time: 1732928146
    }
    departure {
      delay: 477
      time: 1732928146
    }
    stop_id: "597"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 42
    arrival {
      delay: 447
      time: 1732928185
    }
    departure {
      delay: 447
      time: 1732928185
    }
    stop_id: "599"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 43
    arrival {
      delay: 450
      time: 1732928216
    }
    departure {
      delay: 450
      time: 1732928216
    }
    stop_id: "600"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 44
    arrival {
      delay: 433
      time: 1732928263
    }
    departure {
      delay: 433
      time: 1732928263
    }
    stop_id: "601"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 45
    arrival {
      delay: 429
      time: 1732928289
    }
    departure {
      delay: 429
      time: 1732928289
    }
    stop_id: "602"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 46
    arrival {
      delay: 432
      time: 1732928356
    }
    departure {
      delay: 432
      time: 1732928356
    }
    stop_id: "604"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 47
    arrival {
      delay: 423
      time: 1732928401
    }
    departure {
      delay: 423
      time: 1732928401
    }
    stop_id: "606"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 48
    arrival {
      delay: 443
      time: 1732928445
    }
    departure {
      delay: 443
      time: 1732928445
    }
    stop_id: "607"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 49
    arrival {
      delay: 378
      time: 1732928523
    }
    departure {
      delay: 378
      time: 1732928523
    }
    stop_id: "608"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 50
    arrival {
      delay: 356
      time: 1732928571
    }
    departure {
      delay: 356
      time: 1732928571
    }
    stop_id: "609"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 51
    arrival {
      delay: 346
      time: 1732928604
    }
    departure {
      delay: 346
      time: 1732928604
    }
    stop_id: "610"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 52
    arrival {
      delay: 334
      time: 1732928633
    }
    departure {
      delay: 334
      time: 1732928633
    }
    stop_id: "11486"
    schedule_relationship: SCHEDULED
  }
  vehicle {
    id: "2259"
    label: "2259"
  }
}

Based on the inconsistent number of `stop_time_update` elements i will have to a duckdb list of structs. the data will be formatted as follows


| trip_id | ... |
| ----------- | --- |
| start_date | ... |
| schedule_relationship | ... |
| route_id | ... |
| direction_id | ... |
| stop_sequence | ... |
| arrival_delay | ... |
| arrival_time | ... |
| departure_delay | ... |
| departure_time | ... |
| stop_id | ... |
| schedule_relationship_stop | ... |
| stop_id | ... |
| schedule_relationship_stop | ... |


where stop_sequence to schedule relationship stop are the data from the most recent stop update.

This was chosen to reduce the amount of overlapping data caused by the large number of stop_time_update datapoints.

In [17]:
test_db.sql('''
            CREATE TABLE IF NOT EXISTS rt_trip (
                trip_id VARCHAR,
                start_date DATE,
                schedule_relationship INTEGER,
                route_id VARCHAR,
                direction_id VARCHAR,
                next_stop_sequence VARCHAR,
                next_stop_arrival_delay INTERVAL,
                next_stop_arrival_time TIMESTAMP,
                next_stop_departure_delay INTERVAL,
                next_stop_departure_time TIMESTAMP,
                next_stop_id VARCHAR,
                next_stop_schedule_relationship VARCHAR,
                PRIMARY KEY (trip_id, next_stop_id, next_stop_arrival_time)
            )
            ''')

In [26]:
current_trip_df = pd.DataFrame()

for entity in gtfs_feed.entity:
    trip_update = entity.trip_update
    trip_to_append = pd.DataFrame(data = [[trip_update.trip.trip_id,
                                           pd.to_datetime(trip_update.trip.start_date, format='%Y%m%d').date(),  #convert YYYYMMDD to YYYY-MM-DD                                         
                                           trip_update.trip.schedule_relationship,
                                           trip_update.trip.route_id,
                                           trip_update.trip.direction_id,
                                           trip_update.stop_time_update[0].stop_sequence,
                                           pd.to_timedelta(trip_update.stop_time_update[0].arrival.delay,unit='s'),
                                           pd.to_datetime(trip_update.stop_time_update[0].arrival.time, unit='s'),
                                           pd.to_timedelta(trip_update.stop_time_update[0].departure.delay,unit='s'),
                                           pd.to_datetime(trip_update.stop_time_update[0].departure.time, unit='s'),
                                           trip_update.stop_time_update[0].stop_id,
                                           trip_update.stop_time_update[0].schedule_relationship,
                                           ]],
                                  columns=['trip_id',
                                           'start_date',
                                           'schedule_relationship',
                                           'route_id',
                                           'direction_id',
                                           'next_stop_sequence',
                                           'next_stop_arrival_delay',
                                           'next_stop_arrival_time',
                                           'next_stop_departure_delay',
                                           'next_stop_departure_time',
                                           'next_stop_id',
                                           'next_stop_schedule_relationship'])

    current_trip_df = pd.concat([current_trip_df,trip_to_append])
#print(current_trip_df)
test_db.sql('INSERT INTO rt_trip SELECT * FROM current_trip_df ON CONFLICT DO NOTHING')
num_inserted = test_db.sql("SELECT count(*) FROM rt_trip").fetchall()[0][0]
print("rt_trip inserted, total length is " + str(num_inserted))

rt_trip inserted, total length is 1095

In [ ]:
test_db.sql('SELECT * FROM rt_trip').show()

┌──────────┬────────────┬───────────────────────┬──────────┬──────────────┬────────────────────┬─────────────────────────┬────────────────────────┬───────────────────────────┬──────────────────────────┬──────────────┬─────────────────────────────────┐
│ trip_id  │ start_date │ schedule_relationship │ route_id │ direction_id │ next_stop_sequence │ next_stop_arrival_delay │ next_stop_arrival_time │ next_stop_departure_delay │ next_stop_departure_time │ next_stop_id │ next_stop_schedule_relationship │
│ varchar  │    date    │         int32         │ varchar  │   varchar    │      varchar       │        interval         │       timestamp        │         interval          │        timestamp         │   varchar    │             varchar             │
├──────────┼────────────┼───────────────────────┼──────────┼──────────────┼────────────────────┼─────────────────────────┼────────────────────────┼───────────────────────────┼──────────────────────────┼──────────────┼─────────────────────────────────┤
│ 13997591 │ 2024-11-26 │                     0 │ 6612     │ 0            │ 26                 │ -00:00:28               │ 2024-11-26 22:02:12    │ -00:00:28                 │ 2024-11-26 22:02:12      │ 29           │ 0                               │
│ 13997593 │ 2024-11-26 │                     0 │ 6612     │ 0            │ 9                  │ -00:01:53               │ 2024-11-26 22:01:00    │ -00:01:53                 │ 2024-11-26 22:01:00      │ 1276         │ 0                               │
│ 13997695 │ 2024-11-26 │                     0 │ 6612     │ 1            │ 24                 │ 00:06:57                │ 2024-11-26 22:00:38    │ 00:06:57                  │ 2024-11-26 22:00:38      │ 126          │ 0                               │
│ 13997696 │ 2024-11-26 │                     0 │ 6612     │ 1            │ 8                  │ 00:09:23                │ 2024-11-26 22:00:15    │ 00:09:23                  │ 2024-11-26 22:00:15      │ 101          │ 0                               │
│ 13997697 │ 2024-11-26 │                     0 │ 6612     │ 1            │ 8                  │ 00:00:18                │ 2024-11-26 22:01:30    │ 00:00:18                  │ 2024-11-26 22:01:30      │ 101          │ 0                               │
│ 13997698 │ 2024-11-26 │                     0 │ 6612     │ 1            │ 1                  │ 00:00:00                │ 2024-11-26 22:01:00    │ 00:00:00                  │ 2024-11-26 22:01:00      │ 1856         │ 0                               │
│ 13998153 │ 2024-11-26 │                     0 │ 6613     │ 0            │ 1                  │ 00:00:00                │ 2024-11-26 22:17:00    │ 00:00:00                  │ 2024-11-26 22:17:00      │ 11251        │ 0                               │
│ 13998154 │ 2024-11-26 │                     0 │ 6613     │ 0            │ 2                  │ 00:04:17                │ 2024-11-26 22:00:35    │ 00:04:17                  │ 2024-11-26 22:00:35      │ 2151         │ 0                               │
│ 13998155 │ 2024-11-26 │                     0 │ 6613     │ 0            │ 17                 │ -00:01:17               │ 2024-11-26 22:00:46    │ -00:01:17                 │ 2024-11-26 22:00:46      │ 166          │ 0                               │
│ 13998156 │ 2024-11-26 │                     0 │ 6613     │ 0            │ 27                 │ -00:00:16               │ 2024-11-26 22:01:13    │ -00:00:16                 │ 2024-11-26 22:01:13      │ 177          │ 0                               │
│    ·     │     ·      │                     · │  ·       │ ·            │ ·                  │    ·                    │          ·             │    ·                      │          ·               │  ·           │ ·                               │
│    ·     │     ·      │                     · │  ·       │ ·            │ ·                  │    ·                    │          ·             │    ·                      │          ·               │  ·           │ ·                               │
│    ·     │     ·      │                     · │  ·       │ ·            │ ·                  │    ·                    │          ·             │    ·                      │          ·               │  ·           │ ·                               │
│ 14057382 │ 2024-11-26 │                     3 │ 37810    │ 0            │ 1                  │ 00:00:00                │ 1970-01-01 00:00:00    │ 00:00:00                  │ 1970-01-01 00:00:00      │ 1801         │ 1                               │
│ 14057445 │ 2024-11-26 │                     3 │ 37810    │ 0            │ 1                  │ 00:00:00                │ 1970-01-01 00:00:00    │ 00:00:00                  │ 1970-01-01 00:00:00      │ 1801         │ 1                               │
│ 14058704 │ 2024-11-26 │                     3 │ 46604    │ 0            │ 1                  │ 00:00:00                │ 1970-01-01 00:00:00    │ 00:00:00                  │ 1970-01-01 00:00:00      │ 10914        │ 1                               │
│ 14120785 │ 2024-11-26 │                     3 │ 6657     │ 0            │ 1                  │ 00:00:00                │ 1970-01-01 00:00:00    │ 00:00:00                  │ 1970-01-01 00:00:00      │ 2741         │ 1                               │
│ 14120819 │ 2024-11-26 │                     3 │ 6660     │ 0            │ 1                  │ 00:00:00                │ 1970-01-01 00:00:00    │ 00:00:00                  │ 1970-01-01 00:00:00      │ 3904         │ 1                               │
│ 14121013 │ 2024-11-26 │                     3 │ 30039    │ 0            │ 1                  │ 00:00:00                │ 1970-01-01 00:00:00    │ 00:00:00                  │ 1970-01-01 00:00:00      │ 3823         │ 1                               │
│ 14121015 │ 2024-11-26 │                     3 │ 30040    │ 0            │ 1                  │ 00:00:00                │ 1970-01-01 00:00:00    │ 00:00:00                  │ 1970-01-01 00:00:00      │ 3885         │ 1                               │
│ 14121124 │ 2024-11-26 │                     3 │ 6622     │ 0            │ 1                  │ 00:00:00                │ 1970-01-01 00:00:00    │ 00:00:00                  │ 1970-01-01 00:00:00      │ 1065         │ 1                               │
│ 14122528 │ 2024-11-26 │                     3 │ 6728     │ 0            │ 1                  │ 00:00:00                │ 1970-01-01 00:00:00    │ 00:00:00                  │ 1970-01-01 00:00:00      │ 2252         │ 1                               │
│ 14124669 │ 2024-11-26 │                     3 │ 6636     │ 0            │ 1                  │ 00:00:00                │ 1970-01-01 00:00:00    │ 00:00:00                  │ 1970-01-01 00:00:00      │ 12405        │ 1                               │
├──────────┴────────────┴───────────────────────┴──────────┴──────────────┴────────────────────┴─────────────────────────┴────────────────────────┴───────────────────────────┴──────────────────────────┴──────────────┴─────────────────────────────────┤
│ 783 rows (20 shown)                                                                                                                                                                                                                          12 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
test_db.sql('SELECT * FROM rt_trip where trip_id == 13997591').show()
test_ent = gtfs_feed.entity[0]
print(test_ent)

┌──────────┬────────────┬───────────────────────┬──────────┬──────────────┬────────────────────┬─────────────────────────┬────────────────────────┬───────────────────────────┬──────────────────────────┬──────────────┬─────────────────────────────────┐
│ trip_id  │ start_date │ schedule_relationship │ route_id │ direction_id │ next_stop_sequence │ next_stop_arrival_delay │ next_stop_arrival_time │ next_stop_departure_delay │ next_stop_departure_time │ next_stop_id │ next_stop_schedule_relationship │
│ varchar  │    date    │         int32         │ varchar  │   varchar    │      varchar       │        interval         │       timestamp        │         interval          │        timestamp         │   varchar    │             varchar             │
├──────────┼────────────┼───────────────────────┼──────────┼──────────────┼────────────────────┼─────────────────────────┼────────────────────────┼───────────────────────────┼──────────────────────────┼──────────────┼─────────────────────────────────┤
│ 13997591 │ 2024-11-26 │                     0 │ 6612     │ 0            │ 26                 │ -00:00:28               │ 2024-11-26 22:02:12    │ -00:00:28                 │ 2024-11-26 22:02:12      │ 29           │ 0                               │
└──────────┴────────────┴───────────────────────┴──────────┴──────────────┴────────────────────┴─────────────────────────┴────────────────────────┴───────────────────────────┴──────────────────────────┴──────────────┴─────────────────────────────────┘

id: "13997591"
is_deleted: false
trip_update {
  trip {
    trip_id: "13997591"
    start_date: "20241126"
    schedule_relationship: SCHEDULED
    route_id: "6612"
    direction_id: 0
  }
  stop_time_update {
    stop_sequence: 26
    arrival {
      delay: -28
      time: 1732658532
    }
    departure {
      delay: -28
      time: 1732658532
    }
    stop_id: "29"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 27
    arrival {
      delay: 6
      time: 1732658596
    }
    departure {
      delay: 6
      time: 1732658596
    }
    stop_id: "12603"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 28
    arrival {
      delay: 42
      time: 1732658670
    }
    departure {
      delay: 42
      time: 1732658670
    }
    stop_id: "30"
    schedule_relationship: SCHEDULED
  }
  stop_time_update {
    stop_sequence: 29
    arrival {
      delay: 73
      time: 1732658734
    }
    departure {
      delay: 73
      time: 1732658734
    }
    stop_id: "31"
    schedule_relationship: SCHEDULED
  }
  vehicle {
    id: "8152"
    label: "8152"
  }
}

Finally, lets add the service alerts data.

In [10]:
url = auth[Provider]['alerts_link'] + auth[Provider]['api_key0']

#create gtfs feed
gtfs_feed = gtfs_realtime_pb2.FeedMessage()

response = requests.get(url)

status_failure_flag = 0 # if response shows 4 failures in a row, exit

if response.status_code == 200:
    gtfs_feed.ParseFromString(response.content)

print(gtfs_feed.entity[50])

id: "549688"
alert {
  active_period {
    start: 1731933000
    end: 1732968000
  }
  informed_entity {
    agency_id: "TL"
    route_id: "6628"
    route_type: 3
    stop_id: "12183"
  }
  cause: CONSTRUCTION
  effect: NO_SERVICE
  header_text {
    translation {
      text: "Stop 60023 Southbound Arlington St @ E 49 Ave is temporarily closed from Mon Nov 18 through Fri Nov 29 due to construction."
      language: "en"
    }
  }
  description_text {
    translation {
      text: ""
      language: "en"
    }
  }
  tts_header_text {
    translation {
      text: "Stop 6 0 0 2 3, is temporarily closed from Monday November 18 through Friday November 29 due to construction."
      language: "en"
    }
  }
  severity_level: WARNING
}

In [27]:
for entity in gtfs_feed.entity:
    if entity.alert.active_period[0].start == None:
        print(entity.alert.active_period[0].start)
    #print(entity.alert.active_period[0].end)

The service alerts data is formatted where each entry in the gtfs feed is a service alert with a list of stops and expected delays.

the data will be formatted like:

| alert_id | ... |
| ----------- | --- |
| active_period_start | ... |
| active_period_end | ... |
| route_id | ... |
| route_type | ... |
| affected_stop_ids | ... |
| cause | ... |
| effect | ... |
| description| ... |
| severity_level | ... |

In [ ]:
test_db.sql('''
            CREATE TABLE IF NOT EXISTS rt_alerts (
                alert_id VARCHAR,
                active_period_start TIMESTAMP,
                active_period_end TIMESTAMP,
                affected_route_ids VARCHAR[],
                affected_route_type VARCHAR[],
                affected_stop_ids VARCHAR[],
                cause VARCHAR,
                effect VARCHAR,
                description VARCHAR,
                severity_level VARCHAR,
                PRIMARY KEY (alert_id)
            )
            ''')

In [ ]:
total_route = []
total_stops = []
total_types = []
for service_alert in gtfs_feed.entity:
    #base_id = service_alert.alert.informed_entity[0].route_id
    listed_route = []
    listed_stops = []
    listed_types = []
    for informed_entity in service_alert.alert.informed_entity:
        listed_route.append(informed_entity.route_id)
        listed_stops.append(informed_entity.stop_id)
        listed_types.append(informed_entity.route_type)
        #if informed_entity.route_id != base_id:
        #    print("wrong at " + informed_entity.route_id)
        #    print(service_alert)
    total_route.append(listed_route)
    total_stops.append(listed_stops)
    total_types.append(listed_types)

index = 12
print(total_route[index])
print(total_stops[index])
print(total_types[index])

['6770']
['']
[2]

In [ ]:
def check_datetime_null(input):
# returns date if input is non null
# else returns None
    if(input):
        return pd.to_datetime(input,unit = 's')
    else:
        return pd.NaT


end_time_test = gtfs_feed.entity[12].alert
print(check_datetime_null(end_time_test.active_period[0].start))
print(check_datetime_null(end_time_test.active_period[0].end))
print('\n') 
print(end_time_test)

2024-10-16 17:40:00
NaT


active_period {
  start: 1729100400
}
informed_entity {
  agency_id: "TL"
  route_id: "6770"
  route_type: 2
  direction_id: 0
}
cause: CONSTRUCTION
effect: UNKNOWN_EFFECT
header_text {
  translation {
    text: "The west Park and Ride facility at Mission City Station (WCE) is undergoing resurfacing work until further notice and parking in the area may be limited until the work is complete."
    language: "en"
  }
}
description_text {
  translation {
    text: "\nCustomers may want to build extra time in their commute to find alternate parking as needed."
    language: "en"
  }
}
severity_level: INFO

In [ ]:
alert = gtfs_feed.entity[16]

listed_route_id = []
listed_stop_ids = []
listed_types = []
for informed_entity in alert.alert.informed_entity:
    listed_route_id.append(informed_entity.route_id)
    listed_stop_ids.append(informed_entity.stop_id)
    listed_types.append(informed_entity.route_type)

print(alert.id)
print(check_datetime_null(alert.alert.active_period[0].start))
print(check_datetime_null(alert.alert.active_period[0].end))
print(listed_route_id)
print(listed_stop_ids)
print(listed_types)
print(alert.alert.cause)
print(alert.alert.effect)
print(alert.alert.header_text.translation[0].text)
print(alert.alert.severity_level)

545317
2024-10-31 18:14:00
None
['30053']
['8041']
[1]
1
7
Elevator at Expo Line Granville Station @ Platform 2 from the westbound platform to the eastbound is temporarily out of service. There is no elevator access to/from the eastbound platform
3

In [ ]:
current_alerts_df = pd.DataFrame()

for entity in gtfs_feed.entity:
    
    listed_route_id = []
    listed_types = []
    listed_stop_ids = []
    for informed_entity in entity.alert.informed_entity:
        listed_route_id.append(informed_entity.route_id)
        listed_types.append(informed_entity.route_type)
        listed_stop_ids.append(informed_entity.stop_id)
    trip_to_append = pd.DataFrame(data = [[entity.id,
                                           check_datetime_null(entity.alert.active_period[0].start),                                         
                                           check_datetime_null(entity.alert.active_period[0].end),
                                           listed_route_id,
                                           listed_types,
                                           listed_stop_ids,
                                           entity.alert.cause,
                                           entity.alert.effect,
                                           entity.alert.header_text.translation[0].text,
                                           entity.alert.severity_level
                                           ]],
                                  columns=['alert_id',
                                           'active_period_start',
                                           'active_period_end',
                                           'affected_route_ids',
                                           'affected_route_type',
                                           'affected_stop_ids',
                                           'cause',
                                           'effect',
                                           'description',
                                           'severity_level'])

    current_alerts_df = pd.concat([current_alerts_df,trip_to_append])
print(current_alerts_df)
test_db.sql('INSERT INTO rt_alerts SELECT * FROM current_alerts_df ON CONFLICT DO NOTHING')

   alert_id active_period_start   active_period_end  \
0    454491 2024-02-25 12:30:00                 NaT
0    500555 2024-06-14 18:40:00                 NaT
0    500556 2024-06-14 18:42:00                 NaT
0    511077 2024-07-18 20:17:00                 NaT
0    526500 2024-09-04 20:51:00                 NaT
..      ...                 ...                 ...
0    554006 2024-11-27 19:10:00 2024-11-27 21:23:39
0    554007 2024-11-27 19:12:00 2024-11-27 21:23:39
0    554008 2024-11-27 19:19:00 2024-11-27 20:54:00
0    554009 2024-11-27 20:00:00 2024-11-27 21:59:00
0    554010 2024-11-27 19:20:00 2024-11-27 20:59:00

              affected_route_ids affected_route_type  \
0   [30053, 30053, 30053, 30053]        [1, 1, 1, 1]
0                         [6779]                 [3]
0                         [6779]                 [3]
0                 [13686, 13686]              [1, 1]
0                         [6647]                 [3]
..                           ...                 ...
0                        [30047]                 [3]
0                        [30047]                 [3]
0                         [6698]                 [3]
0                         [6698]                 [3]
0                         [6698]                 [3]

           affected_stop_ids  cause  effect  \
0   [8577, 8578, 8579, 8580]     10       6
0                     [8629]     10       1
0                     [4611]     10       1
0             [11302, 11303]      1       8
0                     [2635]     10       9
..                       ...    ...     ...
0                         []      1       4
0                         []      6       4
0                         []      3       1
0                         []      3       1
0                         []      3       1

                                          description  severity_level
0   Expo Line service pattern change at Sapperton ...               3
0   Stop 54558 Southbound Nelson Ave @ 6400 Block ...               3
0   Stop 54559 Eastbound Marine Dr @ Nelson Ave is...               3
0   Prior to 5:30 AM weekdays, 6:00 AM Saturdays, ...               2
0   Stop 52610 Eastbound 14 Ave @ Kingsway has tem...               3
..                                                ...             ...
0   11:00 AM: 184 Moody Centre Station detour. Reg...               3
0   11:00 AM: 184 Noons Creek detour. Regular rout...               3
0   301 Newton Exchange trip leaving Richmond-Brig...               3
0   301 Brighouse Station trip leaving Newton Exch...               3
0   301 Brighouse Station trip leaving Newton Exch...               3

[198 rows x 10 columns]

In [ ]:
test_db.sql('SELECT * FROM rt_alerts').show()
#test_db.sql('DROP TABLE rt_alerts')

┌──────────┬─────────────────────┬─────────────────────┬──────────────────────────────┬─────────────────────┬──────────────────────────┬─────────┬─────────┬──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬────────────────┐
│ alert_id │ active_period_start │  active_period_end  │      affected_route_ids      │ affected_route_type │    affected_stop_ids     │  cause  │ effect  │                                                                                                       description                                                                                                        │ severity_level │
│ varchar  │      timestamp      │      timestamp      │          varchar[]           │      varchar[]      │        varchar[]         │ varchar │ varchar │                                                                                                         varchar                                                                                                          │    varchar     │
├──────────┼─────────────────────┼─────────────────────┼──────────────────────────────┼─────────────────────┼──────────────────────────┼─────────┼─────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼────────────────┤
│ 454491   │ 2024-02-25 12:30:00 │ NULL                │ [30053, 30053, 30053, 30053] │ [1, 1, 1, 1]        │ [8577, 8578, 8579, 8580] │ 10      │ 6       │ Expo Line service pattern change at Sapperton Station and Braid Station starting February 25. Please follow signs to ensure you're boarding from the correct platform.                                                   │ 3              │
│ 500555   │ 2024-06-14 18:40:00 │ NULL                │ [6779]                       │ [3]                 │ [8629]                   │ 10      │ 1       │ Stop 54558 Southbound Nelson Ave @ 6400 Block is temporarily closed beginning June 14 due to road block.                                                                                                                 │ 3              │
│ 500556   │ 2024-06-14 18:42:00 │ NULL                │ [6779]                       │ [3]                 │ [4611]                   │ 10      │ 1       │ Stop 54559 Eastbound Marine Dr @ Nelson Ave is temporarily closed beginning June 14 due to road block.                                                                                                                   │ 3              │
│ 511077   │ 2024-07-18 20:17:00 │ NULL                │ [13686, 13686]               │ [1, 1]              │ [11302, 11303]           │ 1       │ 8       │ Prior to 5:30 AM weekdays, 6:00 AM Saturdays, and 7:30 AM Sundays & Holidays, the Cordova Street entrance to Waterfront Station is closed.                                                                               │ 2              │
│ 526500   │ 2024-09-04 20:51:00 │ NULL                │ [6647]                       │ [3]                 │ [2635]                   │ 10      │ 9       │ Stop 52610 Eastbound 14 Ave @ Kingsway has temporarily moved 100 feet west due to construction.                                                                                                                          │ 3              │
│ 526985   │ 2024-09-09 11:30:00 │ NULL                │ [40855]                      │ [3]                 │ []                       │ 10      │ 4       │ 350 Crescent Beach detour beginning Mon Sep 9. Regular route to Sullivan & Kidd then via McKenzie, Beecher to new terminus on Beecher @ Sullivan as buses can no longer stop on Sullivan @ Kidd.                         │ 3              │
│ 530079   │ 2024-09-27 11:30:00 │ NULL                │ [30053, 30053]               │ [1, 1]              │ [8044, 8073]             │ 10      │ 7       │ From December 18th 2023 until Fall 2025, TransLink is replacing 4 aging escalators at Commercial-Broadway SkyTrain Station to ensure safe and reliable transit operations for years to come.                             │ 2              │
│ 532569   │ 2024-09-23 11:30:00 │ NULL                │ [30052, 30052]               │ [1, 1]              │ [9510, 9511]             │ 10      │ 8       │ Starting 23 Sept. 2024, The Kiss & RIde (drop-off and pick-up zone) at Lake City Way station will be temporarily relocated to the bay in front of the station entrance, accessible via Lake City Way.                    │ 2              │
│ 537191   │ 2024-10-06 23:59:00 │ NULL                │ [30053, 30053]               │ [1, 1]              │ [8044, 8073]             │ 9       │ 7       │ The up escalator from Commercial Street ticket vending machine level to the Broadway overhead walkway towards platforms 3 & 4 at Expo Line Commercial-Broadway Station is temporarily out of service due to maintenance. │ 2              │
│ 537456   │ 2024-10-07 18:45:00 │ NULL                │ [30052, 30052]               │ [1, 1]              │ [8750, 8759]             │ 1       │ 7       │ Elevator at Millennium Line Brentwood Town Centre Station from the south side of Lougheed Hwy to concourse level is temporarily out of service from Mon Aug 19 through Winter 2024.\n                                    │ 3              │
│   ·      │          ·          │  ·                  │   ·                          │  ·                  │ ·                        │ ·       │ ·       │                                                                                       ·                                                                                                                                  │ ·              │
│   ·      │          ·          │  ·                  │   ·                          │  ·                  │ ·                        │ ·       │ ·       │                                                                                       ·                                                                                                                                  │ ·              │
│   ·      │          ·          │  ·                  │   ·                          │  ·                  │ ·                        │ ·       │ ·       │                                                                                       ·                                                                                                                                  │ ·              │
│ 554001   │ 2024-11-27 18:38:00 │ 2024-11-27 21:23:39 │ [6620]                       │ [3]                 │ []                       │ 10      │ 4       │ 10 Waterfront Station detour beginning at 10:30 AM: Regular route to Granville Bridge and Seymour Offramp, then Seymour, Cordova, then resume regular route due to road block.                                           │ 3              │
│ 554002   │ 2024-11-27 18:56:00 │ 2024-11-27 21:23:39 │ [6623]                       │ [3]                 │ []                       │ 1       │ 7       │ 10:55 AM: 17 Downtown/Oak service is experiencing delays in both directions due to trolley wire issue.                                                                                                                   │ 3              │
│ 554003   │ 2024-11-27 18:38:00 │ 2024-11-27 21:23:39 │ [16718]                      │ [3]                 │ []                       │ 10      │ 4       │ UPDATE: 14 Hastings detour beginning at 10:30 AM: Regular route to Granville Bridge and Seymour Offramp, then Seymour, Cordova, then resume regular route due to road block.                                             │ 3              │
│ 554004   │ 2024-11-27 18:38:00 │ 2024-11-27 21:23:39 │ [6622]                       │ [3]                 │ []                       │ 10      │ 4       │ 16 Arbutus detour beginning at 10:30 AM: Regular route to Hastings & Granville then continue Hastings, Howe, Granville Bridge resume regular route due to road block.                                                    │ 3              │
│ 554005   │ 2024-11-27 18:38:00 │ 2024-11-27 21:23:39 │ [6637]                       │ [3]                 │ []                       │ 10      │ 4       │ 50 Waterfront Station detour beginning at 10:30 AM: Regular route to Granville Bridge and Seymour Offramp, then Seymour, Cordova, then resume regular route due to road block.                                           │ 3              │
│ 554006   │ 2024-11-27 19:10:00 │ 2024-11-27 21:23:39 │ [30047]                      │ [3]                 │ []                       │ 1       │ 4       │ 11:00 AM: 184 Moody Centre Station detour. Regular route to Falcon Dr and Runnel Dr, then via Runnel Dr, Lansdowne Dr, Barnet Hwy, then resume regular route due to motor vehicle accident.                              │ 3              │
│ 554007   │ 2024-11-27 19:12:00 │ 2024-11-27 21:23:39 │ [30047]                      │ [3]                 │ []                       │ 6       │ 4       │ 11:00 AM: 184 Noons Creek detour. Regular route to Barnet Hwy and Falcon Dr, then continue Barnet Hwy, Lansdowne Dr, Runnel Dr, Falcon Dr, then resume regular route due to motor vehicle accident.                      │ 3              │
│ 554008   │ 2024-11-27 19:19:00 │ 2024-11-27 20:54:00 │ [6698]                       │ [3]                 │ []                       │ 3       │ 1       │ 301 Newton Exchange trip leaving Richmond-Brighouse Station @ Bay 6 at 11:03 am is cancelled today due to mechanical issue.                                                                                              │ 3              │
│ 554009   │ 2024-11-27 20:00:00 │ 2024-11-27 21:59:00 │ [6698]                       │ [3]                 │ []                       │ 3       │ 1       │ 301 Brighouse Station trip leaving Newton Exchange @ Bay 10 at 12:00 pm is cancelled today due to mechanical issue.                                                                                                      │ 3              │
│ 554010   │ 2024-11-27 19:20:00 │ 2024-11-27 20:59:00 │ [6698]                       │ [3]                 │ []                       │ 3       │ 1       │ 301 Brighouse Station trip leaving Newton Exchange @ Bay 10 at 11:00 am is cancelled today from Scottsdale Exchange due to mechanical issue.                                                                             │ 3              │
├──────────┴─────────────────────┴─────────────────────┴──────────────────────────────┴─────────────────────┴──────────────────────────┴─────────┴─────────┴──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┴────────────────┤
│ 198 rows (20 shown)                                                                                                                                                                                                                                                                                                                                                                       10 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
# TODO fix if you have time and need transfers data
test_db.sql(''' 
            CREATE TABLE IF NOT EXISTS static_transfers (
                from_stop_id VARCHAR,
                to_stop_id VARCHAR,
                transfer_type VARCHAR,
                min_transfer_time INTERVAL,
                from_trip_id VARCHAR,
                to_trip_id VARCHAR,
                PRIMARY KEY (from_stop_id,to_stop_id,from_trip_id,to_trip_id)
            )
            ''')
transfers_insert = pd.read_csv('../google_transit(1)/transfers.txt')
transfers_insert['min_transfer_time'] = pd.to_timedelta(transfers_insert['min_transfer_time'])

test_db.sql("INSERT INTO static_transfers SELECT * FROM transfers_insert")

ConstraintException: Constraint Error: NOT NULL constraint failed: static_transfers.from_trip_id

In [ ]:
#read in feed information for entire gtfs static import
feed_info = pd.read_csv('../google_transit(1)/feed_info.txt',parse_dates=True)
feed_info['feed_start_date'] = pd.to_datetime(feed_info['feed_start_date'], format='%Y%m%d').date()
feed_info['feed_end_date'] = pd.to_datetime(feed_info['feed_end_date'], format='%Y%m%d').date()

test_db.sql(''' 
            CREATE TABLE IF NOT EXISTS static_stops (
                stop_id VARCHAR,
                stop_code VARCHAR,
                stop_name VARCHAR,
                stop_desc VARCHAR,
                stop_lat FLOAT,
                stop_lon FLOAT,
                zone_id VARCHAR,
                stop_url VARCHAR,
                location_type VARCHAR,
                parent_station VARCHAR,
                wheelchair_boarding VARCHAR,
                feed_start_date DATE,
                feed_end_date DATE,
                PRIMARY KEY (stop_id)
            )
            ''')
stops_insert = pd.read_csv('../google_transit(1)/stops.txt')
stops_insert['start_date'] = feed_info['feed_start_date']
stops_insert['end_date'] = feed_info['feed_end_date']

test_db.sql("INSERT INTO static_stops SELECT * FROM stops_insert")

test_db.sql('SELECT * FROM static_stops').show()
test_db.sql('DROP TABLE static_stops') #remove when testing complete

  feed_publisher_name        feed_publisher_url feed_lang  feed_start_date  \
0           TransLink  https://www.translink.ca        en         20240902

   feed_end_date    feed_version
0       20250105  24SEP_20241101
┌─────────┬───────────┬───────────────────────────────────────────┬───────────┬───────────┬─────────────┬─────────┬──────────┬───────────────┬────────────────┬─────────────────────┐
│ stop_id │ stop_code │                 stop_name                 │ stop_desc │ stop_lat  │  stop_lon   │ zone_id │ stop_url │ location_type │ parent_station │ wheelchair_boarding │
│ varchar │  varchar  │                  varchar                  │  varchar  │   float   │    float    │ varchar │ varchar  │    varchar    │    varchar     │       varchar       │
├─────────┼───────────┼───────────────────────────────────────────┼───────────┼───────────┼─────────────┼─────────┼──────────┼───────────────┼────────────────┼─────────────────────┤
│ 1       │ 50001.0   │ Westbound Davie St @ Bidwell St           │ NULL      │ 49.286457 │  -123.14043 │ BUS ZN  │ NULL     │ 0             │ NULL           │ 1                   │
│ 10000   │ 59326.0   │ Northbound No. 5 Rd @ McNeely Dr          │ NULL      │ 49.179962 │  -123.09149 │ BUS ZN  │ NULL     │ 0             │ NULL           │ 1                   │
│ 10001   │ 59324.0   │ Northbound No. 5 Rd @ Woodhead Rd         │ NULL      │  49.18267 │ -123.091446 │ BUS ZN  │ NULL     │ 0             │ NULL           │ 1                   │
│ 10002   │ 59323.0   │ Southbound No. 5 Rd @ Cambie Rd           │ NULL      │ 49.184254 │  -123.09163 │ BUS ZN  │ NULL     │ 0             │ NULL           │ 1                   │
│ 10003   │ 59325.0   │ Southbound No. 5 Rd @ Woodhead Rd         │ NULL      │ 49.182053 │  -123.09166 │ BUS ZN  │ NULL     │ 0             │ NULL           │ 1                   │
│ 10004   │ 59327.0   │ Eastbound McNeely Dr @ No. 5 Rd           │ NULL      │ 49.179585 │   -123.0911 │ BUS ZN  │ NULL     │ 0             │ NULL           │ 1                   │
│ 10005   │ 59329.0   │ Eastbound Jack Bell Dr @ McNeely Dr       │ NULL      │   49.1796 │ -123.087234 │ BUS ZN  │ NULL     │ 0             │ NULL           │ 2                   │
│ 10006   │ 59331.0   │ Eastbound Jack Bell Dr @ 12500 Block      │ NULL      │   49.1782 │   -123.0846 │ BUS ZN  │ NULL     │ 0             │ NULL           │ 2                   │
│ 10007   │ 59332.0   │ Northbound Jack Bell Dr @ Wyne Cres North │ NULL      │ 49.180786 │ -123.082085 │ BUS ZN  │ NULL     │ 0             │ NULL           │ 2                   │
│ 10008   │ 59335.0   │ Northbound Jacombs Rd @ Vanier Place      │ NULL      │ 49.183052 │ -123.080185 │ BUS ZN  │ NULL     │ 0             │ NULL           │ 1                   │
│   ·     │  ·        │         ·                                 │  ·        │      ·    │       ·     │  ·      │  ·       │ ·             │  ·             │ ·                   │
│   ·     │  ·        │         ·                                 │  ·        │      ·    │       ·     │  ·      │  ·       │ ·             │  ·             │ ·                   │
│   ·     │  ·        │         ·                                 │  ·        │      ·    │       ·     │  ·      │  ·       │ ·             │  ·             │ ·                   │
│ 99949   │ NULL      │ Scott Road Station                        │ NULL      │  49.20442 │   -122.8742 │ ZN 3    │ NULL     │ 1             │ NULL           │ 1                   │
│ 99950   │ NULL      │ Gateway Station                           │ NULL      │ 49.198956 │  -122.85061 │ ZN 3    │ NULL     │ 1             │ NULL           │ 1                   │
│ 99951   │ NULL      │ Surrey Central Station                    │ NULL      │ 49.189564 │  -122.84787 │ ZN 3    │ NULL     │ 1             │ NULL           │ 1                   │
│ 99952   │ NULL      │ King George Station                       │ NULL      │  49.18279 │ -122.844734 │ ZN 3    │ NULL     │ 1             │ NULL           │ 1                   │
│ 99953   │ NULL      │ Port Coquitlam Station                    │ NULL      │ 49.261497 │    -122.774 │ WCE2Z   │ NULL     │ 1             │ NULL           │ 1                   │
│ 99954   │ NULL      │ Pitt Meadows Station                      │ NULL      │ 49.225796 │  -122.68838 │ WCE3Z   │ NULL     │ 1             │ NULL           │ 1                   │
│ 99955   │ NULL      │ Maple Meadows Station                     │ NULL      │ 49.216515 │  -122.66621 │ WCE3Z   │ NULL     │ 1             │ NULL           │ 1                   │
│ 99956   │ NULL      │ Port Haney Station                        │ NULL      │   49.2122 │  -122.60524 │ WCE3Z   │ NULL     │ 1             │ NULL           │ 1                   │
│ 99957   │ NULL      │ Mission City Station                      │ NULL      │ 49.133694 │   -122.3049 │ WCE4Z   │ NULL     │ 1             │ NULL           │ 1                   │
│ 99958   │ NULL      │ Lonsdale Quay Station                     │ NULL      │ 49.310143 │ -123.083305 │ ZN 2    │ NULL     │ 1             │ NULL           │ 1                   │
├─────────┴───────────┴───────────────────────────────────────────┴───────────┴───────────┴─────────────┴─────────┴──────────┴───────────────┴────────────────┴─────────────────────┤
│ 8789 rows (20 shown)                                                                                                                                                   11 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
# only allows one translink static file to be present in the database,
# This is intended behavior for the current version but will be expanded as a personal project

queries = {
        'agency': "CREATE TABLE agency AS SELECT * FROM read_csv(?)",

        'calendar_dates' : """CREATE TABLE calendar_dates AS SELECT * FROM 
                read_csv(?,
                        header = true,
                        dateformat = '%Y%m%d',
                        columns = {
                                'service_id': 'VARCHAR',
                                'date': 'DATE',
                                'exception_type': 'VARCHAR'
                        }
                )""",

        'calendar': """CREATE TABLE calendar AS SELECT * FROM 
                read_csv(?,
                        header = true,
                        dateformat = '%Y%m%d',
                        columns = {
                                        'service_id': 'VARCHAR',
                                        'monday': 'BOOLEAN',
                                        'tuesday': 'BOOLEAN',
                                        'wednesday': 'BOOLEAN',
                                        'thursday': 'BOOLEAN',
                                        'friday': 'BOOLEAN',
                                        'saturday': 'BOOLEAN',
                                        'sunday': 'BOOLEAN',
                                        'start_date': 'DATE',
                                        'end_date': 'DATE'
                                })""",

        'direction_names_exceptions': """CREATE TABLE direction_names_exceptions AS SELECT * FROM 
                read_csv(?,
                        dateformat = '%Y%m%d',
                        all_varchar = True)""",

        'directions': """CREATE TABLE directions AS SELECT * FROM 
                read_csv(?,
                        dateformat = '%Y%m%d',
                        all_varchar = True)""",

        'feed_info': "CREATE TABLE feed_info AS SELECT * FROM read_csv(?,dateformat = '%Y%m%d')",

        'route_names_exceptions': """CREATE TABLE route_names_exceptions AS SELECT * FROM 
                read_csv(?,
                        dateformat = '%Y%m%d',
                        all_varchar = True)""",

        'routes': """CREATE TABLE routes AS SELECT * FROM 
                read_csv(?,
                        dateformat = '%Y%m%d',
                        all_varchar = True)""",

        'shapes': """CREATE TABLE  AS SELECT * FROM read_csv(?,
                        header = true,
                        dateformat = '%Y%m%d',
                        columns = {
                                        'shape_id': 'VARCHAR',
                                        'shape_pt_lat': 'DOUBLE',
                                        'shape_pt_lon': 'DOUBLE',
                                        'shape_pt_sequence': 'INTEGER',
                                        'shape_dist_traveled': 'DOUBLE'
                                })""",

        'signup_periods': """CREATE TABLE signup_periods AS SELECT * FROM read_csv(?,
                        header = true,
                        dateformat = '%Y%m%d',
                        columns = {
                                        'sign_id': 'VARCHAR',
                                        'from_date': 'DATE',
                                        'to_date': 'DATE'
                                })""",

        'stop_order_exceptions': """CREATE TABLE stop_order_exceptions AS SELECT * FROM 
                        read_csv(?, all_varchar = True)""",

        'stop_times': """CREATE TABLE stop_times AS SELECT * FROM read_csv(?,
                    header = true,
                    dateformat = '%Y%m%d',
                    columns = {
                                'trip_id': 'VARCHAR',
                                'arrival_time': 'VARCHAR',
                                'departure_time': 'VARCHAR',
                                'stop_id': 'VARCHAR',
                                'stop_sequence': 'VARCHAR',
                                'stop_headsign': 'VARCHAR',
                                'pickup_type': 'VARCHAR',
                                'drop_off_type': 'VARCHAR',
                                'shape_dist_traveled': 'DOUBLE',
                                'timepoint': 'VARCHAR'
                            })""",
        
        'stops': """CREATE TABLE stops AS SELECT * FROM read_csv(?,
                    header = true,
                    dateformat = '%Y%m%d',
                    columns = {
                                'stop_id': 'VARCHAR',
                                'stop_code': 'VARCHAR',
                                'stop_name': 'VARCHAR',
                                'stop_desc': 'VARCHAR',
                                'stop_lat': 'DOUBLE',
                                'stop_lon': 'DOUBLE',
                                'zone_id': 'VARCHAR',
                                'stop_url': 'VARCHAR',
                                'location_type': 'DOUBLE',
                                'parent_station': 'VARCHAR',
                                'wheelchair_boarding': 'VARCHAR'
                            })""",
        'transfers':"""CREATE TABLE transfers AS SELECT 
                                                from_stop_id,
                                                to_stop_id,
                                                transfer_type,
                                                (min_transfer_time || ' seconds')::INTERVAL as min_transfer_time,
                                                from_trip_id,
                                                to_trip_id
                                       
                                        FROM read_csv(?,
                                                header = true,
                                                dateformat = '%Y%m%d',
                                                columns = {
                                                                'from_stop_id': 'VARCHAR',
                                                                'to_stop_id': 'VARCHAR',
                                                                'transfer_type': 'VARCHAR',
                                                                'min_transfer_time': 'VARCHAR',
                                                                'from_trip_id': 'VARCHAR',
                                                                'to_trip_id': 'VARCHAR'
                                                        })""",
        'trips': "CREATE TABLE trips AS SELECT * FROM read_csv(?, all_varchar = True)"
}

filepath = "../google_transit(1)"


for name in queries.keys():
        dropquery = f"DROP TABLE IF EXISTS {name}"
        test_db.execute(dropquery)

for name,query in queries.items():
        full_path = filepath + "/" + name + ".txt"
        test_db.execute(query, [full_path])

test_db.sql("SELECT * from agency")

┌───────────┬─────────────┬──────────────────────────┬───────────────────┬─────────────┬───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
│ agency_id │ agency_name │        agency_url        │  agency_timezone  │ agency_lang │                                                        agency_fare_url                                                        │
│  varchar  │   varchar   │         varchar          │      varchar      │   varchar   │                                                            varchar                                                            │
├───────────┼─────────────┼──────────────────────────┼───────────────────┼─────────────┼───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┤
│ TL        │ TransLink   │ https://www.translink.ca │ America/Vancouver │ en          │ https://www.translink.ca/transit-fares/pricing-and-fare-zones?utm_source=referral&utm_medium=google+maps&utm_campaign=website │
└───────────┴─────────────┴──────────────────────────┴───────────────────┴─────────────┴───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [102]:
test = pd.read_csv('../google_transit(1)/transfers.txt')
print(test)

       from_stop_id  to_stop_id  transfer_type  min_transfer_time  \
0                 1         613              0                240
1                 1         639              2                300
2             10017       10017              0                240
3             10017       10018              2                300
4             10017        8683              0                240
...             ...         ...            ...                ...
10088          9952        9952              0                240
10089          9981       10139              0                240
10090          9987        1622              0                240
10091          9987        1679              0                240
10092          9989        1643              0                240

       from_trip_id  to_trip_id
0               NaN         NaN
1               NaN         NaN
2               NaN         NaN
3               NaN         NaN
4               NaN         NaN
...             ...         ...
10088           NaN         NaN
10089           NaN         NaN
10090           NaN         NaN
10091           NaN         NaN
10092           NaN         NaN

[10093 rows x 6 columns]

In [ ]:
class schedule_relationship(Enum):
    SCHEDULED = 0
    ADDED = 1
    CANCELED = 2
    UNSCHEDULED = 3
    MODIFIED = 5

class mood(Enum):
    sad = 0
    ok = 1
    happy = 2 
    anxious = 3
    upset = 5

print(mood(2))

pandas_df = pd.DataFrame({"schmood": [0,1,2,3,5]})
pandas_df.apply(mood)
#print(pandas_df)
#duckdbs = duckdb.sql("Create TABLE test (mood mood)")
#duckdbs = duckdb.sql("INSERT * FROM pandas_df")
#duckdb.sql("CREATE TYPE mood AS ENUM ('sad', 'ok', 'happy', 'anxious')")
#duckdbs.show()

mood.happy

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
url = auth[Provider]['alerts_link'] + auth[Provider]['api_key0']

#create gtfs feed
gtfs_feed = gtfs_realtime_pb2.FeedMessage()

response = requests.get(url)

status_failure_flag = 0 # if response shows 4 failures in a row, exit

if response.status_code == 200:
    gtfs_feed.ParseFromString(response.content)

print(gtfs_feed.entity[0])

id: "454491"
alert {
  active_period {
    start: 1708864200
  }
  informed_entity {
    agency_id: "TL"
    route_id: "30053"
    route_type: 1
    stop_id: "8577"
  }
  informed_entity {
    agency_id: "TL"
    route_id: "30053"
    route_type: 1
    stop_id: "8578"
  }
  informed_entity {
    agency_id: "TL"
    route_id: "30053"
    route_type: 1
    stop_id: "8579"
  }
  informed_entity {
    agency_id: "TL"
    route_id: "30053"
    route_type: 1
    stop_id: "8580"
  }
  cause: CONSTRUCTION
  effect: MODIFIED_SERVICE
  url {
    translation {
      text: "https://www.translink.ca/skytrainexpansion"
      language: "en"
    }
  }
  header_text {
    translation {
      text: "Expo Line service pattern change at Sapperton Station and Braid Station starting February 25. Please follow signs to ensure you\'re boarding from the correct platform."
      language: "en"
    }
  }
  description_text {
    translation {
      text: "Customers travelling on Expo Line to Production Way-University and Lougheed Town Centre stations from Columbia Station should plan for an extra 12 minutes of travel time. Some transfers may be required at Braid Station to continue towards Production Way-University Station.\r\n\nFrequency daily until 9:30 PM:\r\nExpo Line trains between Waterfront Station and Braid Station will operate every 6 minutes.\r\nExpo Line trains to and from Production Way station will operate every 12 minutes.\r\n\nAfter 9:30 PM Expo Line trains to and from Production Way station will operate every 12 minutes. Trains will no longer terminate at Braid Station.\r\n\nExpo Line trains between Waterfront Station and King George Station will operate at regular frequency on all days.\r\n\nMillennium Line and Canada Line are unaffected.\r\n\nThis construction is expected to last approx. 2 years."
      language: "en"
    }
  }
  severity_level: WARNING
}

In [ ]:
print(gtfs_feed.entity[2])

id: "500556"
alert {
  active_period {
    start: 1718390520
  }
  informed_entity {
    agency_id: "TL"
    route_id: "6779"
    route_type: 3
    stop_id: "4611"
  }
  cause: CONSTRUCTION
  effect: NO_SERVICE
  header_text {
    translation {
      text: "Stop 54559 Eastbound Marine Dr @ Nelson Ave is temporarily closed beginning June 14 due to road block."
      language: "en"
    }
  }
  description_text {
    translation {
      text: "\nAffected routes:\r\n262\r\n\n250 Service will continue to use this stop. "
      language: "en"
    }
  }
  tts_header_text {
    translation {
      text: "Stop 5 4 5 5 9,  is temporarily closed beginning June 14 due to road block. 250 service will continue to use this stop."
      language: "en"
    }
  }
  severity_level: WARNING
}

In [ ]:
now = datetime.now().strftime("%m/%d, %H:%M:%S")
response.status_code = 201

if response.status_code == 200:
    gtfs_feed.ParseFromString(response.content)
    
    status_failure_flag = 0
    
else:
    if status_failure_flag < 4:
        raise Warning('server responded with code ' + str(response.status_code) + ' in response at ' + now ) #TODO add status code and change to docker warning
    else:
        raise SystemExit('4 consecutive failures in response at ' + now)

Warning: server responded with code 201 in response at 11/27, 23:28:02